<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diamondo</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.2/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.8.2/jquery.modal.min.css" />
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section class="cart" id="ex1">
        <div class="cart__title">
            Корзина
        </div>
        <div class="cart__nav">
            <ul>
                <li>Товар</li>
                 <li>Цена</li>
                 <li>Кол-во</li>
                 <li>Размер</li>
                 <li>Удалить</li>
            </ul>
        </div>
        <div class="cart__items">
            </div>
            <div class="cart__overall">
                <div class="cart__overall-count">
                    Всего товаров: 0
                </div>
                <div class="cart__overall-money">
                    Сумма покупки: 0 тг
                </div>
            </div>
            <div class="cart__form">
                <div class="cart__form-wrapper">
                    <div class="cart__form-name">
                        <input type="text" placeholder="Введите имя">
                    </div>
                    <div class="cart__form-phone">
                        <input type="text" placeholder="Введите телефон">
                    </div>
                </div>
                <div class="cart__form-btn">
                    <button >Сделать заказ</button>
                </div>
            </div>
        </div>
    </section>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__wrapper-left">
                    <div class="header__location">
                        <div class="header__location-img">
                            <img src="../static/images/maps-and-flags.svg" alt="">
                        </div>
                        <div class="header__location-text">
                            <p>АЛМАТЫ</p>
                        </div>
                    </div>
                    <div class="header__phone">
                        <p>+ 7 (771) 395 1015</p>
                    </div>
                </div>
                <div class="header__nav">
                    <ul>
                        <li><a href="/order">ОДЕЖДА НА ЗАКАЗ</a></li>
                        <li><a href="/delivery">ДОСТАВКА И ОПЛАТА</a></li>
                        <li><a href="/about">Z / Q</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <section class="menu">
        <div class="container">
            <nav class="burger__nav">
                <ul class="menu burger__menu">
                    <li><a href="/jewellery/" class="menu__item">УКРАasdsaШЕНИЕ</a></li>
                    <li><a href="brilliant.html" class="menu__item">БРИЛЛИАНТЫ</a></li>
                    <li><a href="wedding.html" class="menu__item">ПОМОЛВКА И СВАДЬБА</a></li>
                    <li><a href="premium.html" class="menu__item">PREMIUM</a></li>
                    <li><a href="collection.html" class="menu__item">КОЛЛЕКЦИИ</a></li>
                    <li><a href="present.html" class="menu__item">ПОДАРКИ</a></li>
                    <li><a href="order.html" class="menu__item">УКРАШЕНИЕ НА ЗАКАЗ</a></li>
                    <li><a href="delivery.html" class="menu__item">ДОСТАВКА И ОПЛАТА</a></li>
                    <li><a href="about.html" class="menu__item">DIAMONDO</a></li>
                </ul>
            </nav>
            <div class="menu__wrapper">
                <div class="menu__img">
                    <a href="index.html"><img src="../static/images/logo3.png" alt=""></a>
                </div>
                <div class="menu-burger__header" id="first">
                    <span></span>
                </div>  
                <div class="menu__korzina">
                    <div class="menu__korzina-img">
                        <a href="#ex1" rel="modal:open"><img class="cartImg" src="../static/images/shopping-cart.svg" alt=""></a>
                    </div>
                    <div class="menu__korzina-counter">
                        <span id="counter">0</span>
                    </div>
                </div>
            </div>
            <div class="menu-burger__header" id="second">
                <span></span>
            </div>  
            <div class="menu__nav">
                <div class="menu__nav-input">
                    <img src="../static/images/search.svg" alt="">
                    <input type="text" id="search" placeholder="ПОИСК" onchange="listBrends()">
                        <div>
                            <ul id="list__brends" class="list__brends"></ul>
                        </div>
                </div>
                <ul class="nav">
                        <li class="menu-item" onmouseover=dropMenu(this) onmouseout=hideMenu(this)>
                            <a class="menu-item-a" href="/jewellery">НОВИНКИ</a>
                            <ul class="submenu">
                                <li>
                                    <a href="/jewellery">Блузы и рубашки</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Брюки</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Верхняя одежда</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Джемперы</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Джинсы</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Платья</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Толстовки</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Юбки</a>
                                </li>
                                <li>
                                    <a href="/jewellery">Футболки   </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item" onmouseover=dropMenu(this) onmouseout=hideMenu(this)>
                            <a class="menu-item-a" href="/brilliant">ОДЕЖДА</a>
                            <ul class="submenu">
                            <li>
                                    <a href="/brilliant">Блузы и рубашки</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Брюки</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Верхняя одежда</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Джемперы</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Джинсы</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Платья</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Толстовки</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Юбки</a>
                                </li>
                                <li>
                                    <a href="/brilliant">Футболки</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item" onmouseover=dropMenu(this) onmouseout=hideMenu(this)>
                            <a class="menu-item-a" href="/wedding">ОБУВЬ</a>
                            <ul class="submenu">
                                <li>
                                    Балетки
                                </li>
                                <li>
                                    Босоножки
                                </li>
                                <li>
                                    Ботильоны
                                </li>
                                <li>
                                    Ботинки
                                </li>
                                <li>
                                    Ботфорты
                                </li>
                                <li>
                                    Дутики
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="/premium">PREMIUM</a>
                        </li>
                        <li class="menu-item" onmouseover=dropMenu(this) onmouseout=hideMenu(this)>
                            <a class="menu-item-a"  href="/collection">АККСЕССУАРЫ</a>
                            <ul class="submenu">
                                <li>
                                    Головные уборы
                                </li>
                                <li>
                                    Зонты
                                </li>
                                <li>
                                    Рюкзаки
                                </li>
                                <li>
                                    Сумки
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="/present">БРЕНДЫ</a>
                        </li>
                    </ul>
            </div>
        </div>
    </section>
    <section class="wedding">
        <div class="container">
            <div class="wedding__nav">
                <ul>
                    <li class="jewellery__nav-item active" onclick="black(this)">
                        <span data-open-block="wedding1">Помолвочные</span>
                    </li>
                    <li class="jewellery__nav-item" onclick="black(this)">
                        <span data-open-block="wedding2">Обручальные</span>
                    </li>
                    <li class="jewellery__nav-item" onclick="black(this)">
                        <span data-open-block="bride">Украшения для невесты</span>
                    </li>
                    <li class="jewellery__nav-item" onclick="black(this)">
                        <span data-open-block="groom">Украшения для жениха</span>
                    </li>
                    <li class="jewellery__nav-item" onclick="black(this)">
                        <span data-open-block="presents">Подарки на свадьбу</span>
                    </li>
                    <li class="jewellery__nav-item" onclick="black(this)">
                        <span data-open-block="wedCollection">Коллекция Wedding</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="content rings is-active" data-content="wedding1">
        <div class="container">
            <div class="wedding__items jewellery__items" id="weddingRings__items">
            </div>
        </div>
    </section>
    <section class="content rings2" data-content="wedding2">
        <div class="container">
            <div class="wedding__items jewellery__items" id="weddingRings2__items">
            </div>
        </div>
    </section> 
    <section class="content bride" data-content="bride">
        <div class="container">
            <div class="wedding__items jewellery__items" id="weddingBride__items">
            </div>
        </div>
    </section>
    <section class="content groom" data-content="groom">
        <div class="container">
            <div class="wedding__items jewellery__items" id="weddingGroom__items">
            </div>
        </div>
    </section>
    <section class="content presents" data-content="presents">
        <div class="container">
            <div class="wedding__items jewellery__items" id="weddingPresents__items">
            </div>
        </div>
    </section>
    <section class="content wedCollection" data-content="wedCollection">
        <div class="container">
            <div class="wedding__items jewellery__items" id="wedCollection__items">
            </div>
        </div>
    </section>
    <section class="all">
        <div class="container">
            <div class="all__columns">
                <div class="all__column">
                    <div class="all__column__title">
                        Z / Q LIFE
                    </div>
                    <div class="all__column-text">
                        О бренде
                    </div>
                    <div class="all__column-text">
                        Качество
                    </div>
                    <div class="all__column-text">
                        Дизайн
                    </div>
                    <div class="all__column-text">
                        Контакты
                    </div>
                </div>
                <div class="all__column">
                    <div class="all__column__title">
                            <a href="/jewellery">Одежда</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/present">Обувь</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">Аксессуары</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">Бренды</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">PREMIUM</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">Спорт</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">Красота</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">Дом</a>
                        </div>
                        <div class="all__column-text">
                            <a href="/jewellery">MADE IN KZ</a>
                        </div>
                </div>
                <div class="all__column">
                    <div class="all__column__title">
                        ИНФОРМАЦИЯ
                    </div>
                    <div class="all__column-text">
                        Доставка и оплата
                    </div>
                </div>
                <div class="all__column">
                    <div class="all__column__title">
                        ПАРТНЁРАМ
                    </div>
                    <div class="all__column-text">
                        Сотрудничать 
                    </div>
                    <div class="all__column-text">
                        Команда Z / Q
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer_c">
                    <div class="footer__phone">
                       <a href="tel:877139510105"><p>+ 7 (771) 395 1015</p></a>
                    </div>
                    <div class="footer__co">
                        <div class="footer__co-img">
                            <img src="../static/images/copyright.svg" alt="">
                        </div>
                        <div class="footer__co-text">
                            2020 Z / Q
                        </div>
                    </div>
                </div>
                <div class="footer__socials">
                    <div class="footer__social-insta">
                        <a href="https://www.instagram.com/diamondo_kz/"><img src="../static/images/instagram.svg" alt=""></a>
                    </div>
                    <div class="footer__social-whats">
                        <a href="https://api.whatsapp.com/send?phone=77713951015"><img src="../static/images/whatsapp.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'js/slick.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
        <script src="{% static 'js/main.js' %}"></script>
</body>
</html>